<!--Template shows when user decide to accept or decline pending contact-->
<h3 class="page-header text-<%= (state == 'accept') ? 'success':'danger'%>">
	Contact been <%= (state == 'accept')? 'accepted':'declined'%></h3>
<div class="media contact-item">
	<div class="media-left">
		<img src="<%= userpic%>" alt="<%= name%>, <%= location %>" class="media-object">
	</div>
	<div class="media-body">
		<h4 class="media-heading"><%= name %></h4>
		<p><%= location %></p>
		<button class="btn btn-default" data-ui="back">← Back to Pending Contacts</button>
	</div>
</div>