.api-results-list {
	height: 12em;
	overflow-y: scroll;
	padding: 0 .5em 0 0;
	.list-group-item {
		background: none;
		border: none;
		padding: .75em 0;
		&:not(:last-of-type) {
			border-bottom: 1px solid $brand-success;
		}
	}
}