<!--Single contact template-->
<div class="media contact-item">
	<div class="media-left">
		<img src="<%= userpic%>" alt="<%= name%>, <%= location %>" class="media-object">
	</div>
	<div class="media-body">
		<h4 class="media-heading"><%= name %></h4>
		<p><%= location %></p>
	</div>
	<div class="media-right">
		<button type="button" class="btn btn-success btn-block" data-ui="accept">Accept</button>
		<button type="button" class="btn btn-danger btn-block" data-ui="decline">Decline</button>
	</div>
</div>